<form *ngIf="animal" (ngSubmit)="onSubmit()" #animalForm="ngForm">
  <label for="name">Nom</label>
  <input
    id="name"
    name="name"
    [(ngModel)]="animal.name"
    required
    #nameCtrl="ngModel"
  />
  <br />
  <p *ngIf="animalForm.submitted && nameCtrl.hasError('required')">
    Champ requis
  </p>

  <label for="species">Espèce</label>
  <input id="species" name="species" [(ngModel)]="animal.species" required />
  <br />
  <p
    *ngIf="
      animalForm.submitted && animalForm.form.hasError('required', 'species')
    "
  >
    Champ requis
  </p>

  <label for="veterinarian">Vétérinaire</label>
  <input
    id="veterinarian"
    name="veterinarian"
    [(ngModel)]="animal.veterinarian"
  />
  <br />

  <label for="email">Email</label>
  <input id="email" name="email" [(ngModel)]="animal.email" email />
  <br />
  <p *ngIf="animalForm.submitted && animalForm.form.hasError('email', 'email')">
    Format email requis
  </p>

  <label for="phoneNumber">Téléphone</label>
  <input id="phoneNumber" name="phoneNumber" [(ngModel)]="animal.phoneNumber" />
  <br />

  <label for="comment">Commentaire</label>
  <textarea id="comment" name="comment" [(ngModel)]="animal.comment"></textarea>
  <br />

  <button type="submit">Envoyer</button>
</form>
