<form *ngIf="animal" (ngSubmit)="onSubmit()" #animalForm="ngForm">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input
      matInput
      name="name"
      [(ngModel)]="animal.name"
      (ngModelChange)="onNameChange()"
      required
      #nameCtrl="ngModel"
    />
    <mat-error *ngIf="nameCtrl.hasError('required')">Champ requis </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Espèce</mat-label>
    <input
      matInput
      name="species"
      [(ngModel)]="animal.species"
      required
      #speciesCtrl="ngModel"
    />
    <mat-error *ngIf="speciesCtrl.hasError('required')"
      >Champ requis
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Vétérinaire</mat-label>
    <input matInput name="veterinarian" [(ngModel)]="animal.veterinarian" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput name="email" [(ngModel)]="animal.email" email />
    <mat-error *ngIf="animalForm.form.hasError('email', 'email')">
      Format email requis
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Téléphone</mat-label>
    <input matInput name="phoneNumber" [(ngModel)]="animal.phoneNumber" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Commentaire</mat-label>
    <textarea matInput name="comment" [(ngModel)]="animal.comment"></textarea>
  </mat-form-field>

  <button mat-button color="primary" type="submit">Envoyer</button>
</form>
